nav.navbar{
    border: 1px solid #CCC;
    padding: 12px;
}
#navbarScroll .ui.segment{
    position: absolute;
    right: 9px;
    width: 34%;
    margin: 0;
    padding: 1px;
}
#navbarScroll .ui.segment form{
    margin-bottom: 0;
}
a.navbar-brand{
    width: 9%;
}
nav.navbar{
    border: 1px solid #CCC;
    padding: 0px;
    padding-left: 13px;
}
a.navbar-brand img{
    width: 100%
}
.navbar-toggler.collapsed{
    margin-right: 5px;
}
@media only screen and (max-width: 990px) {
    #navbarScroll .ui.segment {
        position: relative;
        width: 100%;
    }
    a.navbar-brand {
        width: 26%
    }
}